<div style="font-size:12px;line-height:14px;color:#FFFFFF;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
  <p style="margin: 0;font-size: 14px;line-height: 17px; text-align: center;">
    Your NADA membership is due for renewal
  </p>
</div>
