<div style="font-size:12px;line-height:14px;color:#333333;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
  <p style="margin: 0;font-size: 14px;line-height: 17px; text-align: center; margin-bottom:20px;">
    Hi <%= @user.first_name.present? ? @user.first_name : @user.email %>
  </p>
  <p style="margin: 0;font-size: 14px;line-height: 17px; text-align: center; margin-bottom:20px;">
    Your NADA membership is due for renewal on the <%= l @user.renewal_date %>.
  </p>
  <p style="margin: 0;font-size: 14px;line-height: 17px; text-align: center; margin-bottom:20px;">
    Please visit <%= link_to 'your account page', members_area_url, style: "font-size:14px;line-height:14px;color:blue;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;" %> to renew your membership.
  </p>
  <p style="margin: 0;font-size: 14px;line-height: 17px; text-align: center; margin-bottom:20px;">
    Please note that when your membership expires you will no longer be able to benefit from the resources in the membership area.
  </p>
  <p style="margin: 0;font-size: 14px;line-height: 17px; text-align: center; margin-bottom:20px;">
    Happy dancing,
  </p>
  <p style="margin: 0;font-size: 14px;line-height: 17px; text-align: center; margin-bottom:20px;">
    The NADA team
  </p>
</div>
