@import url('https://fonts.googleapis.com/css?family=Artifika');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

@import "colors";

$font-family-base: 'Raleway', sans-serif;
$font-size-h1: 20px;
$font-size-h2: 18px;
$text-color: #4A4A4A;
$state-info-bg: $pea-green;
$state-info-text: white;
$component-active-bg: $night-shadz;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "plyr";
@import "jquery.tagsinput.min";

@import "buttons";
@import "images";
@import "navigations";
@import "containers";
@import "panels";
@import "spacer";
@import "info-boxes";
@import "grid";
@import "backgrounds";
@import "footer";
@import "lists";
@import "headings";
@import "forms";
@import "links";
@import "tables";
