.form {
  margin-bottom: 40px;

  .btn {
    width: 100%;
  }
}

.form-control {
  height: 45px;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    font-size: 18px;
  }
  ul {
    list-style: none;
  }
}

.form label small {
  margin-left: 20px;
  color: $gray-light;
}

