.info-box {
  display: block;
  &:hover {
    text-decoration: none;
    .info-box--bottom {
      background-color: lighten($night-shadz, 10%);
    }
    .info-box--tag {
      background-color: lighten($brown-rust, 10%);
    }
    .info-box--eye-catch {
      background-color: lighten($brown-rust, 10%);
    }
  }
}

.info-box--top {
  background-size: contain;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-box--top__fluid {
  @extend .info-box--top;
  background-image: none;
  height: auto;
}

.info-box--eye-catch-container {
  position: absolute;
  width: 100%;
}

.info-box--eye-catch {
  background-color: $brown-rust;
  height: 64px;
  display: flex;
  border-radius: 100%;
  color: white;
  width: 64px;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-right: 42px;
  float: right;
  transition: background-color ease-in-out 0.5s;
}

.info-box--eye-catch__left {
  color: white;
  background: $pea-green;
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
}

.info-box--tag-container {
  position: relative;
}

.info-box--tag {
  bottom: -15px;
  position: absolute;
  margin-left: 10px;
  transition: background-color ease-in-out 0.5s;
}

.info-box--tag {
  background-color: $brown-rust;
  padding: 5px;
  color: white;
  width: fit-content;
}

.info-box--bottom {
  background-color: $night-shadz;
  padding: 20px;
  text-align: center;
  color: white;
  transition: background-color ease-in-out 0.5s;
}

.info-box--bottom__fixed-height {
  @extend .info-box--bottom;
  @media (min-width: $screen-sm-min) {
    min-height: 90px;
  }
}

.info-box--heading {
  font-size: 18px;
}
