.top-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}

.navigation--link {
  font-family: 'Artifika', serif;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: darken(white, 30%);
    text-decoration: none;
  }
}

.navigation--link__primary {
  @extend .navigation--link;
  order: -1;
  margin-bottom: 20px;
  @media (min-width: $screen-sm-min) {
    order: 0;
    margin-bottom: 0;
  }
}

.navigation--logo {
  height: 44px;
}

.tab-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}

.tab-nav--link {
  font-size: 20px;
  padding: 0 20px 10px 20px;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

.tab-nav--link__active {
  @extend .tab-nav--link;
  font-weight: 600;
  border-bottom: 2px solid $gray-dark;
  margin-bottom: 20px;
  order: -1;
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
    order: 0;
  }
}
